.container {
    display: grid;
    grid-template-rows: 50px 200px 50px;
    grid-template-columns: 200px 500px;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.container > * {
    padding: 10px;
}
.header {
    background: #8CC152;
    grid-column: 1/-1;
}

.sidebar {
    background: #E9573F;
    grid-column: 1/1;
}

.main {
    background: #F6BB42;
    grid-column: 2/3;
}

.footer {
    background: #D770AD;
    grid-column: 1/ span 2;
}